#chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#messages {
    background-color: lightgray;
    padding: 20px;
}

#messages .message {
    padding: 10px;
    margin: 5px;
    display: block;
    width: fit-content;
    border-radius: 5px;
    max-width: 95%;
}

#messages .user-message {
    background-color: lightgreen;
    margin-left: auto;
}

#messages .character-message {
    background-color: lightblue;
    margin-right: auto;
}

#chat-input {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
}

#chat-input input {
    width: 250px;
    display: block;
    margin: 0 auto;
}

#chat-input p {
    text-align: center;
}

#chat-input button {
    width: 250px;
    display: block;
    margin: 0 auto;
}