<div id="chat-container">
    <div id="messages">
        <p *ngFor="let message of messages" class="message"
            [ngStyle]="{'text-align': message.fromUser ? 'right' : 'left'}">{{message.text}}<span *ngIf="message.rating > 0" style="color: purple;"> {{message.rating}}</span></p>
        <p style="text-align: left;" *ngIf="pageInitialized && !canSendMessage">{{characterName}} is thinking...</p>
    </div>

    <div id="chat-input">
        <div>
            <p id="topic">Talking to {{characterName}} about "{{currentTopic}}".</p>
            <input [disabled]="!pageInitialized || !canSendMessage" #chatInput type="text"
                (keyup.enter)="sendMessage(chatInput.value)" placeholder="Type a message..." />
        </div>
    </div>
</div>