<div id="chat-container">
    <div id="messages">
        <div class="message" *ngFor="let message of messages" [ngStyle]="{'text-align': message.fromUser ? 'right' : 'left'}" [ngClass]="{'user-message': message.fromUser, 'character-message': !message.fromUser}">
                {{message.text}} <span *ngIf="message.rating > 0" style="color: purple;"> {{message.rating}} - {{message.sentimentResponse}}</span>
        </div>
        <p style="text-align: left;" *ngIf="pageInitialized && !canSendMessage">{{characterName}} is thinking...</p>
    </div>

    <div id="chat-input">
        <div *ngIf="reputation > 0 && messagesRemaining > 0">
            <p>Talking to {{characterName}} about "{{currentTopic}}".</p>
            <p>Messages remaining: {{messagesRemaining}}, streak: {{streak}}</p>
            <p>Reputation: {{reputation}}</p>
            <!-- <p>Debug; CT: {{canContinueTalking}}</p> -->
            <input [disabled]="!pageInitialized || !canSendMessage" #chatInput type="text"
                (keyup.enter)="sendMessage(chatInput.value)" placeholder="Type a message..." />
        </div>
        <div *ngIf="reputation <= 0">
            <p>Game over!</p>
            <button (click)="startNewGame()">Restart</button>
        </div>
        <div *ngIf="reputation > 0 && messagesRemaining <= 0">
            <input [disabled]="!pageInitialized || !canSendMessage" #chatInput type="text"
                (keyup.enter)="sendMessage(chatInput.value)" placeholder="Type a message..." />
            <p>You survived!</p>
            <button (click)="startNewConversation()">Next</button>
        </div>
    </div>
</div>