#chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#messages {
    background-color: lightgray;
    padding: 20px;
}

#chat-input {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: auto;
}

#chat-input input {
    width: 250px;
}


#topic {
    text-align: center;
}